<!DOCTYPE html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>

  <header id="header">
  <img src="/img/logo.png" width="10%" height="auto" alt="Meadowlark Travel Logo" />
  </header><!-- /header -->

    {{{body}}}
  </body>
</html>
